#total {
    flex-wrap: wrap;
    max-width: 27%;
}

#pictures{
    width: 100%;
}

.card-color{
    background-color: white;
    color: black;
    padding: 0% 5%;
}

@media screen and (max-width: 1000px){
    #total {
        max-width: 49%;
    }
    
}
@media screen and (max-width: 800px){
    #total {
        max-width: 100%;
    }
    
}