.custom{    
    text-align: center;
    padding: 2px 1%;
    margin-left: 5px;
    background-color: white;
}

.custom a{
    background-color: white;   
    white-space: nowrap;
}

input{
    width: 109%;
    height: 100%;
    background-color: lightgreen;
    margin: 0px -11px;
}

.col-md-2{
    padding:1%;
}









































/* Experemental styles. */
/* * {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    
}

li{
    display: inline-block;
    background-color: white;
    padding: 13px 5px;
    margin-right: 10px;
    width: 10%;    
    text-align: center; 
}

a{
    text-decoration: none;
    color: black;
}

#input{
    width: 50%;
    padding-right: 33% ;
}

#input input{
    width: 100%;

} */


/* 
@media screen and (max-width: 400px){
    .testing{
        float: left;
        display: list-item;
    }
} */