body{
  color: white;
  background-color: #3D2F15;
}

#wrapper {  
  display: flex;
  flex-direction: column;
  align-content: space-around;
  margin-left: 10%;
  margin-right: 10%;
}

.d-flex{
  display: flex; 
}

.child{
  margin: auto;
  padding: 1%;
  padding-top: 3%;
}

@media screen and (max-width: 1000px){
  #wrapper{
    margin-left: 1%;
    margin-right: 1%;
  }
}
